<!DOCTYPE html>
<html lang="en">
{% extends "header.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>DecoyBet</title>
</head>
<body>
    <div class="bahisler">
        <table>
            <tr class="mac-info">
                <td class="mac-no">No</td>
                <td class="mac-bahis-sayisi">MBS</td>
                <td class="mac-tarih">Tarih</td>
                <td class="mac-isim">Maçlar</td>
                <td  class="mac-tahmin">Tahmin</td>
                <td class="mac-oran">Oran</td>
            </tr>
            <tr class="maclar">
                <td>1</td>
                <td>1</td>
                <td>22.04.2024</td>
                <td>Sivas - Fenerbahçe</td>
                <td>
                    <button>1</button>
                    <button>0</button>
                    <button>2</button>
                </td>
                <td>2.4</td>
            </tr>
        </table>
    </div>
</body>
{% endblock content %}
</html>