<!DOCTYPE html>
<html lang="en">
 {% extends "style_sheet.html" %}
 {% block styled %}
 
<body>

    <header>
    <div class="menu-container">
    <ul class="navbar">
        <li><a href="{% url 'homepage' %}">Ana Sayfa</a></li>
        <li><a href="{% url 'bahisler' %}">Popüler Bahisler</a></li>
        <li><a href="#">Oyunlar</a></li>
        <li><a href="{% url 'koclar' %}">Koçlar</a></li>
        <li style="float: right;"><a href="#">Uye Ol</a></li>
        <li style="float: right;"><a href="#">Giris Yap</a></li>
        
    </ul>
    </div>
    </header>
    
 {% block content %}{% endblock content %}
</body>
 {% endblock styled %}
</html>