<!DOCTYPE html>
<html lang="en">
 {% extends "style_sheet.html" %}
 {% block styled %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
 
<body>

    <header>
    <div class="menu-container">
    <ul class="navbar">
        <li class="decoy-bet"><span>DECOY</span> BET</li>
        <li><a href="{% url 'homepage' %}"><i class="fa-solid fa-house"></i>Ana Sayfa</a></li>
        <li style="margin: 12px;"><a href="#">Popüler Bahisler</a></li>
        <li><a href="#">Oyunlar</a></li>
        <li><a href="#">Koçlar</a></li>
        <div class="login-signup">
            <li style="float: right;" ><a href="#">Uye Ol</a></li>
            <li style="float: right;"><a href="#">Giris Yap</a></li>
        </div>
       
        
    </ul>
    </div>
    </header>
    
 {% block content %}{% endblock content %}
</body>
 {% endblock styled %}
</html>