<!DOCTYPE html>
<html lang="en">
{% extends "header.html" %}
{% load static %}
{% block content %}
<body>
    <div class="container">
            <div class="advertisement" onclick="window.location.href = '/gain_1M$.com';">
                <div class="left">
                <div class="slider">
                    <div class="slider-content">
                        <div class="slider-item">
                            <img src="{% static 'pictures/f1.jpg' %}" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'pictures/f2.jpg' %}" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'pictures/f3.jpg' %}" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'pictures/f4.jpg' %}" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'pictures/f5.jpg' %}" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'pictures/f6.jpg' %}" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'pictures/f7.jpg' %}" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'pictures/f8.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                </div>
        </div>
        <div class="content">
            <br><br>

            {% include 'popular_bahisler.html' %}
        <div class="coach" style="margin-top: 5vh;">
            <div class="coach-img">
                <img src="{% static 'pictures/melik.png' %}" alt="">
            </div>
            <div class="coach-name">
                <h1>Melik Yalçınkaya</h1>a
                <span>
                    laliga-süperlig-bundesliga
                </span>
                <span class="coach-contact">
                    <label for="">iletişim</label>
                    <button type="button"><i class="fa-regular fa-envelope"></i></button>
                </span>
            </div>
        </div>
        <div class="coach" style="margin-top: 5vh;">
            <div class="coach-img">
                <img src="{% static 'pictures/altay.png' %}" alt="">
            </div>
            <div class="coach-name">
                <h1>Altay Gök</h1>a
                <span>
                    laliga-süperlig-bundesliga
                </span>
                <span class="coach-contact">
                    <label for="">iletişim</label>
                    <button type="button"><i class="fa-regular fa-envelope"></i></button>
                </span>
            </div>
        </div>
            <div style="margin-top: 20%;"></div>
            {% include 'oyunlar.html' %}
        </div>
        <div class="advertisement" onclick="window.location.href = '/gain_1M$.com';">
            <div class="right">
            <div class="slider">
                <div class="slider-content">
                    <div class="slider-item">
                        <img src="{% static 'pictures/k1.jpg' %}" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="{% static 'pictures/ol.jpg' %}" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="{% static 'pictures/o1.jpg' %}" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="{% static 'pictures/k3.jpg' %}" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="{% static 'pictures/a1.jpg' %}" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="{% static 'pictures/o2.jpg' %}" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="{% static 'pictures/k4.jpg' %}" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="{% static 'pictures/k5.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    {% include 'kupon_form.html' %}
</body>
{% endblock content %}
</html>
