<!DOCTYPE html>
<html lang="en">
{% extends "header.html" %}
{% load static %}
{% load static %}
{% block content %}
<head>
    
    <meta charset="UTF-8">
    <title>DecoyBet</title>
</head>
<body>
    <div class="container">
            <div class="advertisement">
                <div class="left">
                <div class="slider">
                    <div class="slider-content">
                        <div class="slider-item">
                            <img src="{% static 'pictures/f1.jpg' %}" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'pictures/f2.jpg' %}" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'pictures/f3.jpg' %}" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'pictures/f4.jpg' %}" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'pictures/f5.jpg' %}" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'pictures/f6.jpg' %}" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'pictures/f7.jpg' %}" alt="">
                        </div>
                        <div class="slider-item">
                            <img src="{% static 'pictures/f8.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                </div>
        </div>
        <div class="content">
            <table>
                <tr class="table-mainrow">
                    <td colspan="1"></td>
                    <td colspan="3">Maç Sonucu</td>
                    <td colspan="3">İlk Yarı Sonucu</td>
                    <td colspan="4">Handikaplı Maç Sonucu</td>
                </tr>
                <tr class="table-secondrow">
                    <td>Öne Çıkan Maçlar</td>
                    <td>1</td>
                    <td>0</td>
                    <td>2</td>
                    <td>1</td>
                    <td>0</td>
                    <td>2</td>
                    <td>H</td>
                    <td>1</td>
                    <td>0</td>
                    <td>2</td>
                </tr>
                <tr class="mac-row">
                    <td>gs-fb</td>
                    <td><button type="button">1.1</button></td>
                    <td><button type="button">1.2</button></td>
                    <td><button type="button">1.3</button></td>
                    <td><button type="button">1.4</button></td>
                    <td><button type="button">1.5</button></td>
                    <td><button type="button">1.6</button></td>
                    <td><button type="button">1.7</button></td>
                    <td><button type="button">1.8</button></td>
                    <td><button type="button">1.9</button></td>
                    <td><button type="button">2</button></td>
                </tr>
                <tr class="mac-row">
                    <td>gs-fb</td>
                    <td><button type="button">1.1</button></td>
                    <td><button type="button">1.2</button></td>
                    <td><button type="button">1.3</button></td>
                    <td><button type="button">1.4</button></td>
                    <td><button type="button">1.5</button></td>
                    <td><button type="button">1.6</button></td>
                    <td><button type="button">1.7</button></td>
                    <td><button type="button">1.8</button></td>
                    <td><button type="button">1.9</button></td>
                    <td><button type="button">2</button></td>
                </tr>
                <tr class="mac-row">
                    <td>gs-fb</td>
                    <td><button type="button">1.1</button></td>
                    <td><button type="button">1.2</button></td>
                    <td><button type="button">1.3</button></td>
                    <td><button type="button">1.4</button></td>
                    <td><button type="button">1.5</button></td>
                    <td><button type="button">1.6</button></td>
                    <td><button type="button">1.7</button></td>
                    <td><button type="button">1.8</button></td>
                    <td><button type="button">1.9</button></td>
                    <td><button type="button">2</button></td>
                </tr>
                <tr class="mac-row">
                    <td>gs-fb</td>
                    <td><button type="button">1.1</button></td>
                    <td><button type="button">1.2</button></td>
                    <td><button type="button">1.3</button></td>
                    <td><button type="button">1.4</button></td>
                    <td><button type="button">1.5</button></td>
                    <td><button type="button">1.6</button></td>
                    <td><button type="button">1.7</button></td>
                    <td><button type="button">1.8</button></td>
                    <td><button type="button">1.9</button></td>
                    <td><button type="button">2</button></td>
                </tr>
            </table>
        </div>
        <div class="advertisement">
            <div class="right">
            <div class="slider">
                <div class="slider-content">
                    <div class="slider-item">
                        <img src="{% static 'pictures/k1.jpg' %}" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="{% static 'pictures/ol.jpg' %}" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="{% static 'pictures/o1.jpg' %}" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="{% static 'pictures/k3.jpg' %}" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="{% static 'pictures/a1.jpg' %}" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="{% static 'pictures/o2.jpg' %}" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="{% static 'pictures/k4.jpg' %}" alt="">
                    </div>
                    <div class="slider-item">
                        <img src="{% static 'pictures/k5.jpg' %}" alt="">
                    </div>
            </div>
            </div>
        </div>

    
        

    </div>

    

</body>
{% endblock content %}
</html>
