<!DOCTYPE html>
<html lang="en">
{% extends "header.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div>
        <ul class="coach-list">
            <li class="coach">
                <div class="coach-img">
                    <img src="/static/pictures/sol_resim.jpg" alt="">
                </div>
                <div class="coach-name">
                    <h1>Mehmet Fadıl Boyacı</h1>
                    <span>
                        laliga-süperlig-bundesliga
                    </span>
                    <span class="coach-contact">
                        <label for="">iletişim</label>
                        <button type="button"><i class="fa-regular fa-envelope"></i></button>
                    </span>
                </div>
            </li>
            <li class="coach">
                <div class="coach-img">
                    <img src="" alt="">
                </div>
                <div class="coach-name">
                    <h1>Mehmet Fadıl Boyacı</h1>
                    <span>
                        laliga-süperlig-bundesliga
                    </span>
                    <span class="coach-contact">
                        <label for="">iletişim</label>
                        <button type="button"><i class="fa-regular fa-envelope"></i></button>
                    </span>
                </div>
            </li>
            <li class="coach">
                <div class="coach-img">
                    <img src="" alt="">
                </div>
                <div class="coach-name">
                    <h1>Mehmet Fadıl Boyacı</h1>
                    <span>
                        laliga-süperlig-bundesliga
                    </span>
                    <span class="coach-contact">
                        <label for="">iletişim</label>
                        <button type="button"><i class="fa-regular fa-envelope"></i></button>
                    </span>
                </div>
            </li>
            <li class="coach">
                <div class="coach-img">
                    <img src="" alt="">
                </div>
                <div class="coach-name">
                    <h1>Mehmet Fadıl Boyacı</h1>
                    <span>
                        laliga-süperlig-bundesliga
                    </span>
                    <span class="coach-contact">
                        <label for="">iletişim</label>
                        <button type="button"><i class="fa-regular fa-envelope"></i></button>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</body>
{% endblock content %}
</html>