
<div id="kupon-form">
    <button id="kupon-toggle"
        onclick="toggleKuponForm()">&#11165 Kuponum</button>
    <div class="kupon">
        <form>
            <input type="number" name="Tutar" placeholder="1.00" required>
            <input type="number" name="Sistem" placeholder="1" required>
            <input type="number" name="Sayi" placeholder="1" required>
            <button type="submit">Kuponu Onayla!</button>
        </form>
    </div>
</div>
<script>
    function toggleKuponForm()
    {
        var kuponForm = document.getElementById('kupon-form');
        if(kuponForm.style.bottom== "-50vh")
        {
            kuponForm.style.bottom = "0vh";
        }
        else
        {
            kuponForm.style.bottom ="-50vh";
        }
    }
</script>