{% load static %}
<div class="container-games" id="container-games">
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/o1.jpg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/f5.jpg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/o1.jpg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/f5.jpg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/o1.jpg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/f5.jpg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/o1.jpg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/f5.jpg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/o1.jpg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/f5.jpg' %}" alt=""></a></div>
    
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/o1.jpg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/f5.jpg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/o1.jpg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/f5.jpg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/o1.jpg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/f5.jpg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/o1.jpg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/f5.jpg' %}" alt=""></a></div> 
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/o1.jpg' %}" alt=""></a></div>
    <div class="game"><a class="aa" href="{% url 'koclar' %}"><img class="imga" src="{% static 'pictures/f5.jpg' %}" alt=""></a></div>
</div>