<div id="register-form">
    <button style="color: aqua; background-color: black;" onclick="toggleRegisterForm()">&times;</button>
    <h2>Kayıt Ol!</h2>
    <div>
        <input type="text" name="Kullanıcı adı" placeholder="Kullanıcı adı" required>
        <input type="text" name="İsim-soyisim" placeholder="İsim-soyisim" required>
        <input type="text" name="Email" placeholder="Email" required>
        <input type="password" name="şifre" placeholder="şifre" required>
        <button type="submit">Kaydol!</button>
    </div>
</div>
</div>
