{% load static %}

<div id="register-form">

    <div class="sign_image">
    <img style="width: 380px; height: 560px; border-radius: 0.75rem;" src="{% static 'pictures/gamble17.jpeg' %}" alt="">
    <form class="form">
        <h2 class="title">DecoyBet.com </h2>
       
        <p class="message">Şimdi kaydolun ve 2.0000 betcoine varan spin şansını kaçırmayın. </p>
            <div class="flex">
            <label>
                <input class="input" type="text" placeholder="" required="">
                <span>İsim</span>
            </label>
    
            <label>
                <input class="input" type="text" placeholder="" required="">
                <span>Soyisim</span>
            </label>
        </div>  
                
        <label>
            <input class="input" type="email" placeholder="" required="">
            <span>Email</span>
        </label> 
            
        <label>
            <input class="input" type="password" placeholder="" required="">
            <span>Parola</span>
        </label>
        <label>
            <input class="input" type="password" placeholder="" required="">
            <span>Parola Doğrulama</span>
        </label>
        <button class="submit">Onayla</button>
        <p class="signin">Zaten bir hesabın var mı? <a onclick="switchForm()">Giris yap</a> </p>
        <button class="close-btn" style="color: aqua; background-color: black;" onclick="toggleRegisterForm()">&times;</button>
    </form>
</div>


</div>
</div>