{% load static %}
<div id="reset-password-form">
    <form id="reset-password-form-form" class="form1" method="post" action="{% url 'resetPasswordCall' %}" >
        {% csrf_token %}
        <label for="reset-new-password">Yeni Şifre</label>
        <input id="reset-new-password" name="reset-new-password" type="password">

        <label for="reset-confrim-password">Yeni Şifre onay</label>
        <input id="reset-confrim-password" name="reset-confrim-password" type="password">

        <label for="reset-old-password">Eski Şifre</label>
        <input id="reset-old-password" name="reset-old-password" type="password">

        <div id="reset-password-error-message" style="color: red; display: none; font-size: large;"></div>

        <button type="submit" class="sign">Onayla</button>

        <button style="color: aqua; background-color: black;" onclick="toggleResetPassword()">&times;</button>
    </form>
</div>